* {
  font-family: "Lucida Handwriting", cursive;
}

.main-container {
  background: linear-gradient(to top right, #020909, #3dd7cf);
  height: 100%;
  text-align: center;
}

.main-container.home {
  background: linear-gradient(to top right, #020909, #800e13);
  height: 100vh;
}

.menu {
  background-color: #f5a6a9;
  border: 5px solid #800e13;
  box-shadow: 15px 15px;
  margin: auto;
  width: 40%;
  height: 98%;
}

.restaurant-name,
a {
  color: #800e13;
}

.back-to-menu {
  color: #000000;
  text-decoration: underline;
}

.restaurant-name {
  margin-top: 0;
}

.recipe-list {
  font-size: 24px;
  line-height: 150%;
  list-style: none;
  text-align: left;
}

.recipe-list li {
  background: url("../images/buster-sword.png") no-repeat left;
  background-size: 25px;
  padding-left: 30px;
}

.recipe-card {
  background-color: #d1f6f4;
  border: 5px solid #10504c;
  box-shadow: 15px 15px;
  margin: auto;
  text-align: center;
  width: 40%;
}

.list-container {
  text-align: center;
}

.list-container > ul,
.list-container > ol {
  display: inline-block;
  text-align: left;
}

a {
  text-decoration: none;
}

li > a:hover {
  color: #ffffff;
}

body {
  margin: 0;
}

img {
  border-radius: 25px;
}
